<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="shortcut icon" href="">
    <title> ActiveDoc </title>
    <!-- Css Imports-->
    <link rel="stylesheet" href="../static/css/master.css">
    <link rel="shortcut icon" href="">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="https://kit.fontawesome.com/37a4e79c5b.js" crossorigin="anonymous"></script>

</head>


<body onbeforeunload="alert('your are goinf to close');">
    <header>
        <nav id="header" class="container-fluid navbar bg-light navbar-expand-lg ">
            <a class="navbar-brand" href="#"> <img src="../static/images/logo_dark.png" class="w-100 ml-3" alt="" /> </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse collapse w-100 " id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mr-3">
                    
                    <span class="navbar-text mr-3">
                        <b>Last Login : </b>{{session['time']}}
                      </span>
                    <li class="nav-item active">
                        <a class="nav-link btn btn-outline-danger " href="/logout"><b>Logout</b></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid  p-0 "> 
        <div class="w-100 bg-light p-3">
            <center>
        <div id="print_all" class="">
          
        </div>
    </center>
        <iframe class=" w-100 h-100" src="https://drive.google.com/file/d/1YPf-VIL3JNzzTOTSFH2X3_yJiKhgYU-b/preview" ></iframe>
    </div>


</body>
</html>